.errorlist { color:red; float: right; }

th { text-align: right; float: right; }

a { outline: none; }

a.top
{
text-decoration: none;
color: black;
}

div.toplistbar
{
display: block;
margin-bottom:25px;
}

div.task {
height: 100%;    
}

h2.listbar , h3.listbar
{
display: inline;
padding-right: 2em;
}

a.listbar , div.listbar
{
display: inline;
border:2px solid blue;
border-radius:5px;
padding:5px;
margin:5px;
width: 25%;
background: pink;
text-decoration: none;
}

a.list , a.task 
{
display: block;
border:2px solid blue;
border-radius:5px;
padding:5px;
margin-top:5px;
width: 60%;
background: lightgray;
text-decoration: none;
}


a.task
{
border-radius:25px;
padding:5px;
margin-top:5px;
width: 25%;
}

a.task:hover , a.list:hover
{
background: lightgreen;
}

div.divright
{
display: inline;
float: right;
}

div.divleft
{
display: inline;
}

span.display
{
cursor:pointer;
}

input.fname
{
height: 20pt;
}
